<html>
  <head>
    <title>
      Testing Jinja2 and Flask with the Hy language
    </title>
  </head>
  <body>
    <form method="POST" action="/hy_flask/response">
      Minuend:
      <input type="number" step="any" name="minuend"
             value={% if minuend %}
             {{minuend}}
           {% else %}
             0
           {% endif %}
             required>
      <br>

      Subtrahend:
      <input type="number" step="any" name="subtrahend"
             value={% if subtrahend %}
             {{subtrahend}}
           {% else %}
             0
           {% endif %}
             required>
      <br>

      Difference:
      {% if difference %}
        {{difference}}
      {% endif %}
      <br>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>
